<p>
  <%= will_paginate @recommendations %>
</p>
<ul id="recommendations">
  <% for recommendation in recommendations %>
    <li>
      <%= list_date recommendation.created_at %>
      <%= render :partial => "recommendations/#{recommendation.recommendable.class.name.underscore}", 
                 :object => recommendation.recommendable %>
    </li>
  <% end %>
</ul>