<p>
  <%= will_paginate @recommendations %>
</p>
<ul id="recommendations">
  <% for recommendation in recommendations %>
    <%= render :partial => "recommendations/#{recommendation.recommendable.class.name.underscore}", 
               :object => recommendation.recommendable %>
  <% end %>
</ul>