<h2>Your Recommendations</h2>

<% if @recommendations.blank? %>
  <p>
    You do not have any recommendations at this time.  To get better recommendations,
    please <%= link_to "update your tags", tags_path %> and your 
    <%= link_to "areas of interest", areas_path %>.
  </p>
<% end -%>

<p>
  <%= will_paginate @recommendations %>
</p>

<ul id="recommendations">
  <% for recommendation in @recommendations %>
    <%= render :partial => recommendation.recommendable.class.name.underscore, 
               :object => recommendation.recommendable %>
  <% end %>
</ul>