* {
  font-family: Helvetica;
}

body {
  margin: 0;
}

#header {
  background: black;
  padding: 5px;
}

#header img {
  border: none;
}

#header a {
  border: none;
}

ul { 
  list-style: none;
  padding: 0;
}

li {
  margin: 5 0 5 0;
}

#content {
  margin: 10 0 0 10;
}

h2 {
  font-size: 18px;
  margin: 10 0 5 0;
}

h3 {
  font-size: 14px;
  color: #888;
  margin: 0 0 10 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
  border-bottom: dotted 2px #aaa;
}

.links a {
  font-size: 14px;
  text-decoration: none;
  color: #333;
  background: #ddd;
  border: solid 1px #aaa;
  padding: 5 5 5 5;
}

.links a:hover {
  color: #fff;
  background: #333;
}

form {
  margin: 10 0 20 0;
  background: #fafafa;
  border: solid 1px #aaa;
  padding: 5 5 5 10;
  width: 500px;
}

input {
  font-size: 16px;
}

.fieldWithErrors {
  display: inline;
}

.fieldWithErrors input {
  border: solid 3px red;
}

label {
  cursor: pointer;
  font-weight: bold;
}

.flash {
  padding: 10 10 10 15;
  color: white;
  font-weight: bold;
}

.flash.notice {
  background: green; 
}

.flash.error {
  background: red;
}

#navigation {
  padding: 5 5 5 10;
  background: black;
}

#navigation a {
  color: #888;
  border: none;
  margin-right: 15px;
}

#navigation a.active, #navigation a:hover {
  color: white;
}

.feed_item_content {
  background: #eee;
  width: 650px;
  border: solid 2px #aaa;
  margin-bottom: 15px;
  padding: 10px;
}