<h2><%= h @feed.title %></h2>

<div class="links">
  <%= link_to "Edit", edit_admin_feed_path(@feed) %>
  <%= link_to "Delete", admin_feed_path(@feed), :confirm => "Are you sure?", :method => "delete" %>
  <%= render :partial => "back_to_feeds" %>
</div>