<h2>A weekly feed of books and articles that match your interests</h2>

<ul class="home">
  <li>
    Step 1: <%= link_to "Register", new_user_path %>
  </li>
  <li>
    Step 2: <%= link_to "Login", new_session_path %> 
    and update your interests.
  </li>
  <li>
    Step 3: Sit back. Each week you'll get an email with books and articles
    that match your interest.
  </li>
</ul>

<p>
  Please send suggestions to june at thinkful.info
</p>