<h2>Feed Item: <%= h @feed_item.title %></h2>

<p>
  <%= link_to @feed_item.link, @feed_item.link, :target => :_blank %>
</p>

<div class="feed_item_content">
  <%= sanitize @feed_item.content %>
</div>

<div class="links">
  <%= link_to "Back to Feed", admin_feed_path(@feed) %>
</div>