<h2>Account Details</h2>

<% custom_form_for :user, current_user, :url => account_path, :html => { :method => :put } do |f| %>

  <%= render :partial => "users/fields", :locals => { :f => f } %>
  
  <%= f.submit "Update" %>

<% end -%>